$laptop1440: 1450px;
$laptop1030: 1030px;
$tablet: 770px;
$smalldevice: 790px;
// partisions
@mixin respond ($breakpoint) {
    @if $breakpoint==mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint==tablet {
        @media only screen and (max-width: $tablet) {
            @content;
        }
    }
    @if $breakpoint==laptopsmall {
        @media only screen and (max-width: $laptop1030) {
            @content;
        }
    }
    @if $breakpoint==laptopbig {
        @media only screen and (max-width: $laptop1440) {
            @content;
        }
    }
    @if $breakpoint==smalldevice {
        @media only screen and (max-height: $smalldevice) {
            @content;
        }
    }
}

.home-section {
    overflow-x: hidden;
}

.home-section__inside {
    position: absolute;
    top: 24%;
    left: 11%;
    @include respond(mobile) {
        top: 10% !important;
        left: 0%
    }
    @include respond(tablet) {
        left: 0%;
    }
    @include respond(laptopsmall) {
        left: 2%;
    }
    @include respond(laptopbig) {
        left: 2%;
    }
    .text-extra {
        @include respond(mobile) {
            font-size: 16px !important;
        }
    }
}

// .search-seaction {
//     position: relative;
//     left: 10%;
//     margin-left: 11rem !important;
// }
.input-group-extra {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.label-extra {
    width: 500px;
}

.custom-select__menu {
    @include respond(mobile) {
        width: 100% !important;
    }
}