.home-section__inside {
    position: absolute;
    top: 17%;
    left: 7%;
}

.input-group-extra {
    position: relative;
    left: 35px;
    z-index: 99;
}

.extra-design {
    position: relative;
    left: -20px;
}